{% load i18n sizeformat %}

<div class="detail">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ board.name }}</dd>
    <dt>{% trans "Status" %}</dt>
    <dd>{{ board.status }}</dd>
    <dt>{% trans "Type" %}</dt>
    <dd>{{ board.type }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ board.uuid }}</dd>
    <dt>{% trans "Code" %}</dt>
    <dd>{{ board.code }}</dd>
    <dt>{% trans "Creation data" %}</dt>
    <dd>{{ board.created_at }}</dd>


    <dt>{% trans "Latitude" %}</dt>
    <dd>{{ location.latitude }}</dd>
    <dt>{% trans "Longitude" %}</dt>
    <dd>{{ location.longitude }}</dd>
    <dt>{% trans "Altitude" %}</dt>
    <dd>{{ location.altitude }}</dd>


    <dt>{% trans "Mobile" %}</dt>
    <dd>{{ board.mobile }}</dd>
    <dt>{% trans "Extra" %}</dt>
    <dd>{{ board.extra }}</dd>

    {% if plugins %}
        <dt>{% trans "Plugins" %}</dt>
        {% for plugin in plugins %}
            <dd>{{ plugin.name }}</dd>
        {% endfor %}
    {% endif %}
  </dl>
</div>
